<% if flash[:success] %>
  <div class="flash-message success">
    <%= flash[:success] %>
  </div>
<% elsif flash[:error] %>
  <div class="flash-message error">
    <%= flash[:error] %>
  </div>
<% end %>
<div class = "container">
  <div class = "row">
    <div class='col-md-3'>
      <p>3333</p>
    </div>
    <div class='col-md-9'>
      <%= form_with  do |f| %>
        <div class="form-group">
          <%= f.text_field :title, name: 'inquiry[title]' %>
        </div>

        <div>
          <%= f.text_field :content, name: 'inquiry[content]' %>
        </div>

        <div class="form-group">
          <%= f.submit 'Submit' %>
        </div>
      <% end %>
      <div class="scroll">
        <table class='table table-hover table-inverse'>
          <thead>
            <tr>
              <th>タイトル</th>
              <th>作成日時</th>
              <th>サービス名</th>
              <th>更新日時</th>
              <th>状態</th>
            </tr>
          </thead>
          <tbody>
            <% @inquiries.each do |inquiry| %>
              <tr>
                <%= link_to inquiry_path(inquiry) do %>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>